body {
  /*margin: 10 auto;*/
  /*padding: 4em 1em;*/
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  display: none;
}

header {
  background-color: #333;
  text-align: center;
  line-height: 90px;
  margin-bottom: 70px;
  color:#fff;
  height: 90px;
}

header h1 {
  /*vertical-align: center;*/
  font-size: 2.5em;
  font-weight: 300;
  margin: 0;
}

hr {
  color:  lightblue;
}

#info {
  text-align: right;
  margin-top: 30px;
  font-size: 14px;
}

circle {
  fill-opacity: 0.5;
}
circle.Stopped {
  stroke: #0f0f0f;
  fill: maroon;
}
circle.Follower {
  stroke: #0f0f0f;
  fill: lime;
}
circle.Leader {
  stroke: #0f0f0f;
  stroke-width: 3;
  fill: cadetblue;
}
circle.Candidate {
  stroke: #0f0f0f;
  stroke-dasharray: 5,5;
  stroke-width: 3;
  fill: indigo;
}
rect {
  fill-opacity: 0.25;
  padding-bottom: 5;
}
text {
  text-anchor: middle;
  fill: #666;
  font-size: 16px;
}

#content {
  margin: auto;
  display: flex;
  align-self: flex-end;
}

#controls {
  /*background-color: #f0f0f0;*/
  flex: 0 1 5%;
  height:   100%;
}

#visualization {
  flex: 0 0 auto;
}

#cluster_nodes {
  flex: 0;
  margin-left: 20px;
}

#log {
  flex: 0 0 35%;
}

#sm {
  flex: 0;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

#legend {
  margin-left: auto;
  border: 2px solid;
  height: 100%;
  flex: 0 1 auto;
}

#messages {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
}

.node_tag {
  height: 50px;
  margin-bottom: 15px;
  line-height: 50px;
  margin-right: 10px;
}

.node_sm {
  overflow-x: auto;
  text-overflow: clip;
  height: 50px;
  margin-bottom: 15px;
  width: 40px;
  line-height: 50px;
  outline-width: 3px;
  outline-color: #ccc;
  outline-style: solid;
}

.node_log {
  height: 50px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: flex;
  background-color: #ccc;
}

.log_entry {
  overflow-x: auto;
  text-overflow: clip;
  background-color: #f0f0f0;
  width: 50px;
  text-align: center;
  line-height: 50px;
  margin-right: 5px;
  margin-left: 5px;
  border: 2.5px dashed;
  display: flex;
  flex-direction: column;
}

.committed {
  border: 0;
}

.rows {
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: row;
}

input {
  display: block;
}

button.req-button {
  margin-left:  10px;
}

legend {
  font-variant: small-caps;
  margin-bottom: 3px;
  font-weight: 600;
}

p {
  margin-top: 0px;
}

button {
  width:100%;
}

a {
  color: #e81c4f;
}