body {
  margin-top: 70px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  display: none;
}

hr {
  color:  lightblue;
}

#info {
  text-align: right;
  margin-top: 30px;
  font-size: 14px;
}

circle {
  fill-opacity: 0.5;
}
circle.Stopped {
  fill: maroon;
}
circle.Follower {
  fill: lime;
}
circle.Leader {
  stroke-width: 3;
  fill: cadetblue;
}
circle.Candidate {
  stroke-dasharray: 5,5;
  stroke-width: 3;
  fill: indigo;
}
rect {
  fill-opacity: 0.25;
  padding-bottom: 5;
}
text {
  text-anchor: middle;
  fill: #666;
  font-size: 16px;
}

#content {
  margin: auto;
  display: flex;
}

#controls {
  background-color: #f0f0f0;
  flex: auto;
  height:   100%;
}

#visualization {
  flex: 0;
}

#log {
  flex: auto;
}

#sm {
  flex: auto;
  text-align: center;
}

#legend {
  flex: auto;
}

#errors {
  color: red;
}

.node_log {
  height: 50px;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 500px;
  display: flex;
  border-width: 3px;
  border-color: silver;
  border-style: solid;
}

.node_sm {
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
  border-width: 3px;
  border-color: silver;
  border-style: solid;
}

.log_entry {
  flex: initial;
  margin-right: 5px;
  margin-left: 5px;
}

.rows {
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: row;
}

input {
  display: block;
}

button.req-button {
  margin-left:  10px;
}

legend {
  font-variant: small-caps;
  margin-bottom: 3px;
}

p {
  margin-top: 0px;
}

button {
  width:100%;
}

a {
  color: #e81c4f;
}